.reveal {
  font-family: "Roboto", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  /* margin: 0 0 20px 0; */
  /* font-weight: 900; */
  /* font-family: "Roboto", sans-serif; */
  line-height: 0.9em;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  /* text-shadow: none; */
}
.reveal h1 {
  font-weight: 900;
  font-size: 32px;
  margin-top: 20% !important;
}

.author {
  font-size: 0.8em !important;
}

.date {
  margin-top: 0px !important;
  font-size: 0.8em !important;
}

#objectives {
  margin-top: 20%;
  /* color: white; */
}

#test p {
  color: red;
}

.slides li {
  font-size: 0.75em;
  margin-top: 3%;
}
#section-2 p {
  margin-top: 20%;
}
